
.ava{
    background-color: thistle;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px;
 
}

.sender{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;



}

